<h3>Client Info Management Page</h3>
<div>
    <h3>Edit Client</h3>
    <form (ngSubmit)="submit()">
        <label for="first_name">First Name</label><br />
        <input type="text" name="first_name" [(ngModel)]="client.first_name" />
        <label for="last_name">Last Name</label><br />
        <input type="text" name="last_name" [(ngModel)]="client.last_name" />
        <label for="email">Email</label><br />
        <input type="text" name="email" [(ngModel)]="client.email" />
        <label for="phone">Phone</label><br />
        <input type="text" name="phone" [(ngModel)]="client.phone" />
        <label for="state">State</label><br />
        <input type="text" name="state" [(ngModel)]="client.state" />
        <label for="city">City</label><br />
        <input type="text" name="city" [(ngModel)]="client.city" />
        <br />
        <input type="submit" value="click here" />
    </form>
</div>
<div>
<h3>Current Clients</h3>
    <table>
        <tr>
            <th>ID</th>

            <th>Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>

        <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.first_name}}</td>
            <td>{{client.last_name}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.email}}</td>
            <td><a href="#" (click)="editClient(client.id)">Edit</a></td>
            <td><a href="#" (click)="deleteClient(client.id)">Delete</a></td>
        </tr>
    </table>

</div>