<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- bean definitions here -->


<aop:aspectj-autoproxy />

	<bean id="pRef" class="com.fullstack.aop.bean.Product">
		<property name="id" value="101"></property>
		<property name="name" value="Watter Bottle"></property>
		<property name="price" value="2000"></property>
		<property name="brand" value="Hidrate"></property>
		<property name="stock" value="17"></property>
	</bean>
	
	<bean id="aftReturn" class="com.fullstack.aop.bean.Logging" />
	
	<bean id="order" class="com.fullstack.aop.bean.Order" >
	<property name="id" value="1"></property>
	<property name="name" value="Running Shoes"></property>
	<property name="price" value="75.50"></property>
	</bean>
	<bean id="notification" class="com.fullstack.aop.bean.Notification" />

<!--  
	<bean id="productProxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="pRef" >
		</property>
		<property name="interceptorNames">
			<list>
				<value>aftReturn</value>
			</list>
		</property>
	</bean>
-->

</beans>