<h3>Welcome. Please schedule your meeting</h3>
<div class="container">
<div id="form-container">
<form #formRef="ngForm" (ngSubmit)="submit(formRef)">
    <label for="fname">First Name</label><br />
    <input type="text" name="fname" ngModel/><br />
    <label for="lname">Last Name</label><br />
    <input type="text" name="lname" ngModel/><br />
    <label for="email">Email</label><br />
    <input type="text" name="email" ngModel/><br />
    <label for="date" >Date</label><br />
    <input type="date" name="date" ngModel/><br />
    <label for="time">Time</label><br />
    <input type="time" name="time" ngModel/><br />
    <br />
    <input type="submit" value="Schedule Meeting" />
</form>
<div>{{message}}</div>
</div>
</div>