<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>eStore</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>mysql</param-value>
	</context-param>

	<context-param>
		<param-name>dbPwd</param-name>
		<param-value>Pa$$W0rd</param-value>
	</context-param>

	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost/jdbc</param-value>
	</context-param>

	<servlet>
		<description></description>
		<display-name>HelloServlet</display-name>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.estore.controller.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.estore.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>handle new account creation</description>
		<display-name>RegisterServlet</display-name>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.estore.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>ValidateFilter</display-name>
		<filter-name>ValidateFilter</filter-name>
		<filter-class>com.estore.filters.ValidateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ValidateFilter</filter-name>
		<url-pattern>/Register</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>FrontController</display-name>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.estore.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/Front</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>handle shoe purchases</description>
		<display-name>BuyServlet</display-name>
		<servlet-name>BuyServlet</servlet-name>
		<servlet-class>com.estore.controller.BuyServlet</servlet-class>
		<init-param>
			<param-name>dbUser</param-name>
			<param-value>mysql</param-value>
		</init-param>
		<init-param>
			<param-name>dbPwd</param-name>
			<param-value>Pa$$W0rd</param-value>
		</init-param>
		<init-param>
			<param-name>dbUrl</param-name>
			<param-value>jdbc:mysql://localhost/jdbc</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyServlet</servlet-name>
		<url-pattern>/Buy</url-pattern>
	</servlet-mapping>
</web-app>